<div class="card">
    <div class="card-body">
      <h5 class="card-title">Lanches</h5>
      <table class="table table-hover table-bordered">
        <caption>Cardapio de Lanches</caption>
        <thead class="thead-dark">
          <th>#</th>
          <th>Descrição</th>
          <th>Ingredientes</th>
        </thead>
        <tbody>
          <tr *ngFor="let lanche of lanches">
            <td><input type="radio" (change)="selecionarLanche(lanche)" name="lanches"></td>
            <td>{{lanche.descricao}}</td>
            <td>
                <label>{{getDescricao(lanche)}} - R${{getPrice(lanche).toFixed(2)}}</label>
            </td>
          </tr>
        </tbody>
      </table>
  
  
    </div>
  </div>
  